/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#header{
display:block;

}
	#navbar{
	list-style-type:none;
	display:inline-block;
	float:right;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	 margin-top: 25px;
	 margin-right:35px;
	 font-size: 13px;
}

#date{
position:relative;
display:inline-block;
font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
margin-top: 25px;
 margin-left:35px;
font-size: 13px;
color:#bbbbbb;

}

	 li{
 		display:inline;
 		padding: 9px;
		}
	a{
		text-decoration: none;
		color: #336699;
	}
	a:hover{
		color:#6f99cd;
	}
	span a{
		text-decoration: none;
		color: #6f99cd;

	}
	span a:hover{
		text-decoration: none;
		color: #336699;
	}
#main{
	display:block;
	margin-left: auto;
    margin-right: auto;
    clear:both;
    position: relative;
}
img.logo{
	display:block;
	margin-left: auto;
    margin-right: auto;
    clear:both;
    position: relative;
	top: 50px;

}
h1{
	position: relative;
	display:block;
	font-size:50px;
	line-height: 60px;
	text-align: center;
	top:70px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	width:800px;
	margin-left: auto;
	margin-right: auto;
}

h2{
	font-family:"CrimsonSemibold", "Times New Roman", Georgia, serif;
	position: relative;
	display:block;
	text-align: center;
	top:90px;
	font-size:18px;
}

#basecamprollover, #hiriserollover, #campfirerollover, #headertext{
height:130px;
}

#basecamprollover, #hiriserollover, #campfirerollover{
	display:none;
}


#leftarrow1{
	display:inline-block;
	position:absolute;
	top:-10px;
	left:150px;
	z-index: 1;
}
#leftarrow2{
	display:inline-block;
	position:absolute;
	top:-10px;
	left:150px;
	z-index: 1;
}
#rightarrow{
	display:inline-block;
	position:absolute;
	top:-10px;
	left:-30px;
	z-index: 1
}
.hidden{display:none;}

#basecamprollover h1{
	position: relative;
	display:block;
	font-size:40px;
	line-height: 50px;
	text-align: center;
	top:70px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	width:800px;
	margin-left: auto;
	margin-right: auto;
	clear:both;

}
#basecamprollover h1 span{
color: #336699;
text-decoration: underline;

}
#basecamprollover h2{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;	
	position: relative;
	display:block;
	text-align: center;
	line-height: 21px;
	top:80px;
	font-size:14px;
	width:650px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}

#basecamprollover img{
	position: absolute;
	display:block;
	text-align: center;
	top:270px;
	left:370px;
	font-size:18px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
	z-index: 1;
}

#hiriserollover h1{
	position: relative;
	display:block;
	font-size:40px;
	line-height: 50px;
	text-align: center;
	top:70px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	width:800px;
	margin-left: auto;
	margin-right: auto;
	clear:both;

}
#hiriserollover h1 span{
color: #336699;
text-decoration: underline;

}
#hiriserollover h2{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;	
	position: relative;
	display:block;
	text-align: center;
	line-height: 21px;
	top:80px;
	font-size:14px;
	width:800px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}

#hiriserollover img{
	position: absolute;
	display:block;
	text-align: center;
	top:270px;
	left:620px;
	font-size:18px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
	z-index: 1;
}

#campfirerollover h1{
	position: relative;
	display:block;
	font-size:40px;
	line-height: 50px;
	text-align: center;
	top:70px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	width:800px;
	margin-left: auto;
	margin-right: auto;
	clear:both;

}
#campfirerollover h1 span{
color: #336699;
text-decoration: underline;

}
#campfirerollover h2{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;	
	position: relative;
	display:block;
	text-align: center;
	line-height: 21px;
	top:80px;
	font-size:14px;
	width:800px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}

#campfirerollover img{
	position: absolute;
	display:block;
	text-align: center;
	top:270px;
	left:720px;
	font-size:18px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
	z-index: 1;
}


#box{display:block;
position: relative;
text-align: center;
top:100px;	
clear:both;
white-space: nowrap;
}

#basecamp {
	display: inline-block;
	position:relative;
	height: 230px;
    width: 180px;
    border-color: #6495ED;
    background-color: #4584f0;
    border-style: solid;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    padding: 7px 12px 7px 12px;
    background: linear-gradient(#fefefe, #efefef);
    border-color: #e8e8e8;
    border-width: 1px;
    box-shadow: 0px 0px 2px 0px #e8e8e8;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-weight: bold;
	color:black;
	white-space: normal;
}

#highrise {
	display: inline-block;
	position:relative;
	height: 230px;
    width: 180px;
    border-color: #6495ED;
    background-color: #4584f0;
    border-style: solid;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    padding: 7px 12px 7px 12px;
    background: linear-gradient(#fefefe, #efefef);
    border-color: #e8e8e8;
    border-width: 1px;
    box-shadow: 0px 0px 2px 0px #e8e8e8;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-weight: bold;
	color:black;
	white-space: normal;

}


#campfire {
	display: inline-block;
	position:relative;
	height: 230px;
    width: 180px;
    border-color: #6495ED;
    background-color: #4584f0;
    border-style: solid;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    padding: 7px 12px 7px 12px;
    background: linear-gradient(#fefefe, #efefef);
    border-color: #e8e8e8;
    border-width: 1px;
    box-shadow: 0px 0px 2px 0px #e8e8e8;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-weight: bold;
	color:black;
	white-space: normal;
}

#highrise img{
	padding:7px;
}

#campfire img{
	padding:7px;

}
#basecamp img{
	padding:7px;

}


#main a{
		display: block;
		position:relative;
		font-size: 21px;
		color: #369;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
		font-weight: bold;
			color: #369;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
		font-weight: bold;
		text-decoration: underline;
		font-size: 21px;
		}


#main h3{
	margin: 5px 0 0px;
font-size: 14px;
font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
color: #cc0000;
font-style: bold;
padding:10px;
}


#main p{
color: #222;
font-size: 14px;
line-height: 1.4em;
font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
width:170px;
margin-left:auto;
margin-right:auto;

}

img.asterisk{
	display:block;
	margin-left: auto;
    margin-right: auto;
    clear:both;
    position: relative;
	top: 110px;
	height:25px;
}

#headertext h2{
	white-space: nowrap;
}




















